<a href="https://colab.research.google.com/github/priyanz79/docs/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import statistics
import math
n=int(input("Enter the amount of numbers: "))
z = []
for _ in range(n):
  num = int(input("Enter a number: "))
  z.append(num)
print(z)
maximum=max(z)
print("Max No.",maximum)
minimum=min(z)
print("Min No.",minimum)
total_sum = sum(z)
print("Sum of the elements: ", total_sum)
average = total_sum / n
print("Average of the elements: ", average)
sqaure_root = math.sqrt(total_sum)
print("Square root of the elements: ", sqaure_root)]

Enter the amount of numbers: 5
Enter a number: 64
Enter a number: 84
Enter a number: 82
Enter a number: 36
Enter a number: 88
[64, 84, 82, 36, 88]
Max No. 88
Min No. 36
Sum of the elements:  354
Average of the elements:  70.8
Square root of the elements:  18.81488772222678

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/DA/Diwali Sales Data.csv', encoding='latin-1')

In [14]:
print(df.head())

   User_ID  Cust_name Product_ID Gender Age Group  Age  Marital_Status  \
0  1002903  Sanskriti  P00125942      F     26-35   28               0
1  1000732     Kartik  P00110942      F     26-35   35               1
2  1001990      Bindu  P00118542      F     26-35   35               1
3  1001425     Sudevi  P00237842      M      0-17   16               0
4  1000588       Joni  P00057942      M     26-35   28               1

            State      Zone       Occupation Product_Category  Orders  \
0     Maharashtra   Western       Healthcare             Auto       1
1  Andhra Pradesh  Southern             Govt             Auto       3
2   Uttar Pradesh   Central       Automobile             Auto       3
3       Karnataka  Southern     Construction             Auto       2
4         Gujarat   Western  Food Processing             Auto       2

    Amount  Status  unnamed1
0  23952.0     NaN       NaN
1  23934.0     NaN       NaN
2  23924.0     NaN       NaN
3  23912.0     NaN       NaN
4  23877.0     NaN       NaN

In [13]:
display(df.head())

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN