<a href="https://colab.research.google.com/github/priyanz79/docs/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statistics
import math
n=int(input("Enter the amount of numbers: "))
z = []
for _ in range(n):
  num = int(input("Enter a number: "))
  z.append(num)
print(z)
maximum=max(z)
print("Max No.",maximum)
minimum=min(z)
print("Min No.",minimum)
total_sum = sum(z)
print("Sum of the elements: ", total_sum)
average = total_sum / n
print("Average of the elements: ", average)
sqaure_root = math.sqrt(total_sum)
print("Square root of the elements: ", sqaure_root)]

Enter the amount of numbers: 5
Enter a number: 64
Enter a number: 84
Enter a number: 82
Enter a number: 36
Enter a number: 88
[64, 84, 82, 36, 88]
Max No. 88
Min No. 36
Sum of the elements:  354
Average of the elements:  70.8
Square root of the elements:  18.81488772222678

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/DA/Diwali Sales Data.csv', encoding='latin-1')

In [ ]:
print(df.head())

   User_ID  Cust_name Product_ID Gender Age Group  Age  Marital_Status  \
0  1002903  Sanskriti  P00125942      F     26-35   28               0
1  1000732     Kartik  P00110942      F     26-35   35               1
2  1001990      Bindu  P00118542      F     26-35   35               1
3  1001425     Sudevi  P00237842      M      0-17   16               0
4  1000588       Joni  P00057942      M     26-35   28               1

            State      Zone       Occupation Product_Category  Orders  \
0     Maharashtra   Western       Healthcare             Auto       1
1  Andhra Pradesh  Southern             Govt             Auto       3
2   Uttar Pradesh   Central       Automobile             Auto       3
3       Karnataka  Southern     Construction             Auto       2
4         Gujarat   Western  Food Processing             Auto       2

    Amount  Status  unnamed1
0  23952.0     NaN       NaN
1  23934.0     NaN       NaN
2  23924.0     NaN       NaN
3  23912.0     NaN       NaN
4  23877.0     NaN       NaN

In [ ]:
display(df.head())
display(df.tail())

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0

In [ ]:
df.shape

(11243, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11243 entries, 0 to 11250
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11243 non-null  int64
 1   Cust_name         11243 non-null  object
 2   Product_ID        11243 non-null  object
 3   Gender            11243 non-null  object
 4   Age Group         11243 non-null  object
 5   Age               11243 non-null  int64
 6   Marital_Status    11243 non-null  int64
 7   State             11243 non-null  object
 8   Zone              11243 non-null  object
 9   Occupation        11243 non-null  object
 10  Product_Category  11243 non-null  object
 11  Orders            11243 non-null  int64
 12  Amount            11231 non-null  float64
dtypes: float64(1), int64(4), object(8)
memory usage: 1.2+ MB

In [ ]:
df.describe()

            User_ID           Age  Marital_Status        Orders        Amount
count  1.124300e+04  11243.000000    11243.000000  11243.000000  11231.000000
mean   1.003005e+06     35.422841        0.420261      2.488749   9454.084982
std    1.716141e+03     12.756369        0.493623      1.114960   5221.728776
min    1.000001e+06     12.000000        0.000000      1.000000    188.000000
25%    1.001494e+06     27.000000        0.000000      1.000000   5443.000000
50%    1.003065e+06     33.000000        0.000000      2.000000   8109.000000
75%    1.004430e+06     43.000000        1.000000      3.000000  12677.500000
max    1.006040e+06     92.000000        1.000000      4.000000  23952.000000

In [ ]:
df.isnull().sum()

User_ID              0
Cust_name            0
Product_ID           0
Gender               0
Age Group            0
Age                  0
Marital_Status       0
State                0
Zone                 0
Occupation           0
Product_Category     0
Orders               0
Amount              12
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.shape

(11243, 13)